# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars
infra/.terraform.lock.hcl

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Databricks bundle state
bundle/.databricks/

# Python
__pycache__/
.venv/
*.pyc

# Airflow
airflow/.env
airflow/logs/
airflow/plugins/
airflow/docker-compose.yaml
